<nb-card>
    <nb-card-header class="page-title">
      Transactions History
    </nb-card-header>
          <nb-card>
            <nb-card-header *ngIf="userRole.role === 'SUPERADMIN'">
              <div class="row">
                <div class="col-md-4">
                  <label class="label">Company
                  </label>
                  <ng-select [items]="companyList" bindLabel="company_name" (change)="getCompanyId($event)"
                  class="ng_select ng_dropdown_panel form-control" [virtualScroll]="true" bindValue="id"
                  placeholder="Select Company">
                </ng-select>
                </div>
                <div class="col-md-4">
                  <label class="label">Branch 
                  </label>
                  <ng-select [items]="branchList" bindLabel="branch_name" (change)="getBranchId($event)" [(ngModel)]="ngSelectedValue" [disabled]="isBranchView ? 'false' : 'ture'"
                  class="ng_select ng_dropdown_panel form-control" [virtualScroll]="true" bindValue="id"
                  placeholder="Select Branch">
                </ng-select>
                </div>
              </div>
            </nb-card-header>
            <nb-card-body >
                  <ng2-smart-table [nbSpinner]="isLoading" nbSpinnerStatus="info" class="tbl-loader-effect" [settings]="settings" [source]="source" (edit)="onViewCustomerDetails($event)">
                  </ng2-smart-table>
                </nb-card-body>
          </nb-card>
    <!-- </div>
    </nb-card-body> -->
  </nb-card>