<div class="header-container">
  <div class="logo-container">
    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a>
    <!-- <a class="logo" href="#" (click)="navigateHome()">StampLoyalty</a>
    <a class="logo" href="#" (click)="navigateHome()"><img src="assets/icon/logo.png" style="width: 35%;"></a> -->
    <a class="logo" href="#" (click)="navigateHome()"><img src="../../../../assets/icon/logo2.png"
      style="width: 35%;"></a>
  </div>
</div>

<div class="header-container">
  <nb-actions size="small">

    <nb-action class="control-item">
      <!-- <nb-search type="rotate-layout"></nb-search> -->
    </nb-action>
    <!-- <nb-action class="control-item" icon="email-outline"></nb-action>
    <nb-action class="control-item" icon="bell-outline"></nb-action> -->
    <nb-action class="user-action" *nbIsGranted="['view', 'user']" >
      <nb-user [nbContextMenu]="userMenu"
               [name]="userDetails?.name"
               >
               <!-- picture="assets/images/nick.png" -->
      </nb-user>
    </nb-action>
  </nb-actions>
</div>
