@import '../../../../../@theme/styles/themes.scss';

@include nb-install-component() {
  nb-card {
    transform: translate3d(0, 0, 0);
  }
}

.title { font-size: 17px; }
.select {
  top: 29px;
}

.country {
  position: absolute;
  font-size: 12px;
}
.row-padding {
  position: relative;
  top: 25px;
}
 
.upload-branch-btn {
  position: absolute;
  top: 32px;
}
.select-error {
  top: 28px;
  position: relative;
}
.select-error-option {
  top: 13px;
  position: relative;
}

nb-select {
  width: 100% !important;
}

nb-select.full-width {
  width: 100%;
}
nb-select.size-medium:not(.full-width) {
  max-width: none;
  position: relative;
}
.pass-eye {
  position: absolute;
  right: 26px;
  top: 38px;
}

.m_title {
  text-transform: capitalize;
}

.prev-next-btn {
  padding-top: 80px;
  text-align: center;
}

.company-tilte {
  text-align: center;
  font-size: 16px;
}

.next-btn {
  padding-left: 50px;
}

.parent {
  border-top: 1px solid #000;
  padding-top: 15px;
}

.child {
  display: flex;
  justify-content: space-between;
}

.des_title {
  color: rgb(0 0 0 / 71%);
}

.Update-Submit-btn {
  padding-top: 35px;
  text-align: center;
}

.add-branch-next-btn {
  padding-top: 35px;
  text-align: center;
}

.State {
  padding-top: 3px;
}

.terms-prev-next-btn {
  padding-top: 35px;
  text-align: center;
}

//editor//  
.editor {
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  .NgxEditor__MenuBar {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }

  .NgxEditor {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border: none;
  }

  .CodeMirror {
    border: 1px solid #eee;
    height: auto;
    margin-bottom: 0.7rem;

    pre {
      white-space: pre !important;
    }
  }
}
